<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Simple.Wpf.DataGrid" />
  </extensions>

  <targets>
    <target name="asyncLogFile"
            xsi:type="AsyncWrapper"
            queueLimit="5000"
            overflowAction="Grow">
      <target name="logFile"
              xsi:type="File"
              keepFileOpen="false"
              encoding="iso-8859-2"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              archiveAboveSize="10240000"
              maxArchiveFiles="20"
              concurrentWrites="true"
              archiveFileName="c:\temp\.simple.wpf.datagrid\logs\archive\${shortdate}.{#}.log"
              fileName="c:\temp\.simple.wpf.datagrid\logs\log.txt"
              layout="${longdate} ${formatted_threadid} ${level:uppercase=true} ${logger} ${message}" />

    </target>

    <target name="memory"
            xsi:type="LimitedMemory"
            limit="1000"
            layout="${longdate} ${formatted_threadid} ${level:uppercase=true} ${logger} ${message}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="memory" />
    <logger name="*" minlevel="Info" writeTo="asyncLogFile" />
  </rules>
</nlog>