<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net48" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net48" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net48" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="4.6.8" targetFramework="net48" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net48" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net48" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.Core" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="4.3.2" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>