<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Microsoft.Reactive.Testing" version="3.0.0" targetFramework="net461" />
  <package id="Moq" version="4.5.16" targetFramework="net461" />
  <package id="NLog" version="4.3.6" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net461" />
</packages>